body {
    background: #24353f;
    font-family: "Titillium Web", sans-serif;
}

nav {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    border: 1px solid transparent;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    border-color: #ffc107;
    background: #ffc107;
}

.box {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
    border-radius: 25px;
}

.box h1 {
    color: #17a2b8;
    font-weight: 500;
}

.form-control {
    background: transparent;
    color: #fff;
}

.form-control::placeholder {
    color: rgb(182, 182, 182);
}

.form-control:focus {
    background: transparent;
    color: #fff;
    box-shadow: none;
}

.box button {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    width: 100%;
    margin-bottom: 16px;
    transition: 0.3s ease;
}

.box button:hover {
    background: #17a2b8;
    color: #fff;
}

.box button:focus {
    box-shadow: none;
}

.box a:hover {
    text-decoration: underline !important;
}